.wrap{
    width: 500px;
    height: 750px;
    box-shadow: 0 0 10px lightgray ;
    margin: 0 auto;
}
p{
    padding-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    box-sizing: border-box;
}
.menu{
    width: 450px;
    height: 140px;
    background-color: #EBF2FF;
    margin: 0 auto;
}
label{
    position: absolute;
    padding-top: 10px;
    margin-left: 5px;
    box-sizing: border-box;
}
.b{
    width: 400px;
    height: 25px;
    margin-left: 20px;
    margin-top: 35px;
    border: 1px solid lightgray;
}
input[placeholder]{
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.label2{
    margin-left: 20px;
}
.d{
    border: 1px solid lightgray;
    color: lightgray;
    width: 80px;
    height: 25px;
    margin-top: 15px;
    margin-left: 20px;
}
select[name=oy]{
    border: 1px solid lightgray;
    color: lightgray;
    width: 80px;
    height: 25px;
    margin-top: 15px;
    margin-left: 20px;
}
select[name=year]{
    border: 1px solid lightgray;
    color: lightgray;
    width: 200px;
    height: 25px;
    margin-top: 15px;
    margin-left: 12px;
}
.menu-2{
    width: 450px;
    height: 50px;
    background-color:  #EBF2FF;
    margin-left: 25px;
    margin-top: 20px;
}
input{
    text-align: right;
}
.input-3{
    width: 15px;
    margin-top: 15px;
}
.label-3{
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
}
.input-4{
    width: 15px;
    margin-top: 15px;
    margin-left: 50px;
}
.label-4{
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
}
.input-5{
    margin-left: 140px;
    border: 1px solid lightgray;
}
.menu-3{
    width: 450px;
    height: 300px;
    margin-top: 20px;
    margin-left: 25px;
    background-color: #EBF2FF;
}
.label-5{
    margin-left: 5px;
    float: left;
}
.input-6{
    width: 180px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
.label-6{
    margin-top: -35px;
   margin-left: 25px;
    float: left;
}
.input-7{
    width: 180px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: -24px;
    margin-left: 235px;
    float: left;
}
.label-7{
    margin-top: 0;
    margin-left: 5px;
    float: left;
}
.input-8{
    width: 180px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
.label-8{
    margin-top: -35px;
    margin-left: 25px;
    float: left;
}
.input-9{
    width: 180px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: -22px;
    margin-left: 235px;
    float: left;
}
.label-9{
    margin-top: 0;
    margin-left: 5px;
    float: left;
}
.input-10{
    width: 180px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
.label-10{
    margin-top: -35px;
    margin-left: 25px;
    float: left;
}
.input-11{
    width: 180px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: -22px;
    margin-left: 240px;
    float: left;
}
.label-11{
    margin-top: 0;
    margin-left: 5px;
    float: left;
}
.input-12{
    width: 180px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
.label-12{
    margin-top: -35px;
    margin-left: 25px;
    float: left;
}
.input-13{
    width: 75px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: -22px;
    margin-left: 235px;
    float: left;
}
.label-13{
    margin-top: -73px;
    margin-left: 335px;
    float: left;
}
.input-14{
    width: 75px;
    height: 20px;
    border: 1px solid lightgray;
    margin-top: -58px;
    margin-left: 340px;
    float: left;
}
.menu-4{
    width: 450px;
    height: 50px;
    background-color: #EBF2FF;
    margin-left: 25px;
    margin-top: 20px;
}
.input-15{
    width: 15px;
    margin-top: 15px;
    margin-left: 0;
    float: left;
}
.label-14{
    margin-top: 5px;
    font-size: 14px;
}
.menu-5{
    width: 450px;
    height: 50px;
    background-color: #EBF2FF;
    margin-left: 25px;
    margin-top: 20px;
}
.input-16{
    width: 15px;
    margin-top: 15px;
}
.label-15{
    margin-top: 5px;
    font-size: 14px;
}
img{
    margin-left: 200px;
    margin-top: 15px;
}
.f{
    font-size: 14px;
    margin-left: 240px;
    margin-top: -40px;
}